{% extends "layout.html" %}
{% block body %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/about.jpg') }}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>About Me</h1>
              <span class="subheading">This is what I do.</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p class="justifyalign">{{params['about_text']}}</p>
            <p class="justifyalign"> {{params['about_text2']}}</p>
            <p class="justifyalign">P.S. if you have any questions or recommendations <a href="/contact">Contact Me Here</a></p>

        </div>
      </div>
    </div>

   {% endblock %}